.admin_content{
	padding-top: 80px;
}
.items_list .row, .items_list .row span{
	line-height: 40px;
}
.items_list .row{
	cursor: pointer;
}
.items_list .row:nth-child(even){
  background-color: #fff;
}
.items_list .row:nth-child(odd){
  background-color: #F1F6FB;
}
.items_list .row:hover{
	background-color: #DFF0D8;
}
.ta-text{
	margin-top: 10px;
}
.nav-tabs{
	margin-bottom: 20px
}
.ta-toolbar .btn-group{
	margin-top: 10px;
}
.list_search{
    width: auto;
    padding: 0;
}
.list_buttons_menu{
	margin-bottom: 10px;
}
.adm_progress{
	margin-bottom: 10px;
}
.crop_preview{
	margin: 20px 20px 20px 0;
}
.cropArea {
    background: #fff;
    overflow: hidden;
    width:500px;
    height:350px;
    margin: 20px 20px 20px 0;
}
.row_action_column > a{
	float: right;
	margin: 0 10px;
	opacity: 0.5;
	line-height: 40px;
}
.row_action_column a:hover{
	opacity: 1;
}